.content {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.bio {
  max-width: 700px;
  width: 90%;
  margin: 20px;
  padding:10px;
}

.chip {
  margin: 5px 7px 5px 7px
}

.custom-parallax {
  height:25px;
}

.card-size-average {
  width:300px;
  margin:20px;
}
