.content {
  margin-left:auto;
  margin-right:auto;
  max-width: 1300px;
  width:90vw;
  padding: 10px 0;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.bio {
  max-width: 700px;
  width: 90%;
  margin: 20px;
}

.custom-parallax {
  height:25px;
}

.card-size-average {
  width:300px;
  margin:20px 20px 20px 20px;
}
