<div id="about">
  <h2>About me</h2>
  <p>
    University of Manchester Computer Science student with strong technical knowledge and experience with both
    independent and team projects. Capable of adapting to new environments quickly. Always looking to push their
    knowledge.
  </p>
  <h2>Experience</h2>
  <ul>
    <li>Hackathons: Experience with teams at different hackathons, each time my team tries to push ourselves to use a new tool/language.</li>
    <li>Front End: Proficient in HTML markup and JavaScript/JQuery. Experience with CSS and Javascript frameworks. I used AngularJS for this site.</li>
    <li>Game Development: Experience designing and building a Unity game from scratch. My preferred scripting language of choice is C#.</li>
  </ul>

  <br/>
  <h2>Contact information</h2>
  <a href="mailto:sean.alan.lewis@gmail.com"><h3><i class="fa fa-envelope"></i>  sean.alan.lewis@gmail.com</h3></a>
</div>
