<div class="flexDiv" id="columnFlex">
  <div class="projectBadge">
    <a><div id="little"></div></a>
    <div class="projectDetails">
      <h2>Little Lander</h2>
      <p>
Android Unity Game, written in C#. I designed and created everything but the sound/music.
      </p>
      <h2><a href="https://play.google.com/store/apps/details?id=com.SeanLewis.LittleLander&hl=en_GB"><i class="fa fa-play"></i> Play Store</a></h2>
    </div>
  </div>
  <div class="projectBadge">
    <a><div id="pong"></div></a>
    <div class="projectDetails">
      <h2>Almost Pong</h2>
      <p>
        Currently working on another Unity game, which takes inspiration from Pong.
      </p>
    </div>
  </div>
  <div class="projectBadge">
    <a><div id="shooter"></div></a>
    <div class="projectDetails">
      <h2>2D Shooter</h2>
      <p>
        Developed during my first year team project, it was used as a test for passing variables to a database.
      </p>
      <h2><a href="games/shooter/index.html" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> Play in browser</a></h2>
    </div>
  </div>
</div>
