<div class="flexDiv" id="columnFlex">
  <div class="projectBadge">
    <a><div id="pixel"></div></a>
    <div class="projectDetails">
      <h2>Pixel Miner</h2>
      <p>
        I'm working on a clicker game built using AngularJS as an oppertunity to learn how to use it.
      </p>
      <h2><a href="https://appropriately.github.io/pixel-miner/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> Play in browser</a></h2>
      <h2><a href="https://github.com/Appropriately/pixel-miner" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> View source</a></h2>
    </div>
  </div>
</div>
