---
layout: default
---

<div class="home">

  <div class="row">
    {% for post in site.posts %}
      {% if post.categories contains 'project' %}
        {% if post.background %}
        <a style="background: {{ post.background }}" href="{{ post.url | prepend: site.baseurl }}" class="col-md-4">
        {% else %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="col-md-4">
        {% endif %}
          <div>
            {{ post.title }}<br />
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>