---
layout: default
---
<div class="post">

  <header class="post-header">
    <div class="row">
      <div class="col-sm-auto">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" role="group" style="float:right">
          {% if page.site %}
            <a class="btn btn-primary" target="_blank" href="{{ page.site }}"><i class="fas fa-globe"></i> View</a>
          {% endif %}
          {% if page.google-play %}
            <a class="btn btn-play-store" target="_blank" href="{{ page.google-play }}"><i class="fab fa-google-play"></i> View</a>
          {% endif %}
          {% if page.github %}
            <a class="btn btn-secondary" target="_blank" href="{{ page.github }}"><i class="fab fa-github"></i> View</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div align="center">
  	<a href="#">
  	<i class="fa fa-arrow-circle-up fa-2x"></i>
  	</a>
  </div>

</div>
